.divnoticia {
    display: flex; 
    flex-direction: column;

}

.imgnoticia {
    width: 300px; 
    border: 1px solid #f2f2f2; 
}

.titulonoticia {
    text-decoration: none;
    color: #f2f2f2; 
}

.capsulanoticia {
    display: flex; 
    justify-content: space-around;
}