body{margin: 0;padding: 0;font-family: sans-serif;}
a{text-decoration: none;color: #8a05be; font-weight: bold;}
#logo{float: left}
#menu{float: right}
#topo{width:90%;margin: 0 auto;overflow: hidden;}
#banner{background: url("../imagens/banner.png") no-repeat center top;
		background-size: cover;
		height: 50vh;
}
.menu{margin-top: 40px;padding: 0}
.menu li{display: inline-block;margin-left: 20px;}

main{width:90%;margin: 0 auto;overflow: hidden;}
.conteudo{
	width: 69%;
	float: left;
}
.lateral{width: 29%;float: right}
.lateral ul{padding: 0}
.lateral li{
	list-style: none;
    border-bottom: dashed 1px #ccc;
    padding: 5px;
    margin-bottom: 10px;}

footer{background: #333;color: #fff;text-align: center;
	padding: 20px 0;margin-top:40px;
}
@media (max-width: 567px){
	#logo, #menu{width: 100%; text-align: center;}
	.lateral, .conteudo{width: 100%}
}
@media (max-width: 394px){
	.menu li{width: 100%;margin: 10px 0;font-size: 18px;text-transform: uppercase;}
}